
<div class="img_container">

<div class="of_the_day">
  <div class="img_name"></div>
  <img src="images/giphy-downsized.gif" alt="">
</div>


<img src="images/giphy-downsized.gif" alt="slip">
<img src="images/berlu.jpg" alt="berlu">
<img src="images/col.jpg" alt="col">
<img src="images/chiPomme.jpg" alt="chi">
</div>